body {
  background-color: #ccd5ae;
  color: #2f1f0e;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  background-color: #d4a373;
  font-family: "Permanent Marker";
  font-size: 1.5rem;
  padding: 0.5rem;
  height: 10%;
  width: 100%;
}

#footer {
  background-color: #d4a373;
  padding: 0.5rem;
  font-size: 0.75rem;
  height: 5%;
  width: 100%;
}

#to-do {
  background-color: #fefae0;
  padding: 1.5rem;
  height: 85%;
  width: 50%;
}

#to-do .form-group {
  font-size: 0.6rem;
  margin-bottom: 0.1rem;
}

#to-do .form-check-input {
  margin-top: 0.1rem;
}
